# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/

# Tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Generated graphs
impactgraph.json
datagraph.json


# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# example outputs
examples/**/*.html
examples/**/impactgraph.json
examples/**/*.cache.json
examples/**/*.unparsed.json
